<%- back_path = @file_attachment.attachable_id.blank? ? 
  file_attachments_path : polymorphic_path(@file_attachment.attachable_id) -%>
<p><%= link_to '< back', back_path, :class => 'fake_button' %></p>

<%= content_tag :div do %>
  <%= semantic_form_for @file_attachment do |form| %>
    <%= form.inputs do %>
      <%= form.input :name, :hint => 'something memorable' %>
      <%= render({
        :partial => 'file_container_select',
        :locals => {
          :selected => "#{@file_attachment.attachable_type}_#{@file_attachment.attachable_id}"
        }
      }) %>
      <%= form.input :description, :hint => "of file contents, purpose, etc" %>
    <% end %>
    <%= form.buttons %>
  <% end %>
<% end if has_authorization?(:update, @file_attachment) %>
