<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <!-- <link rel="icon" type="image/png" href="/images/favorite.png"/> -->
  <title>FileShare</title>
  <%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "plupload/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
  <![endif]-->
  <%= stylesheet_link_tag "tablesorter/blue/style", :media => "screen" %>
  <%= stylesheet_link_tag "smoothness/jquery-ui-1.7.2.custom.css" %>
  
  <%= stylesheet_link_tag 'error_messages', 'formtastic', 'formtastic_changes',
                          'main_elements', 'text_and_colors' %>

  <%= javascript_include_tag file_share_javascript_includes %>
  
  <%= csrf_meta_tag %>
  
  <%= yield :javascript %>
</head>
<body>

  <div class="container">
    <div class="top-banner span-24 last">
      <div class="header span-14">
        <h1>FileShare</h1>
      </div>
    </div>

    <div class="base_content span-20">
      <%= render :partial => 'file-share-shared/flash', :object => flash %>
      <div class="inner_content">
        <%= yield %>
      </div>
    </div>

    <div class="span-4 last">
      <div id="main_menu">
        <ul>
          <li><%= link_to_file_attachments %></li>
        </ul>
      </div>

      <div class="sidebar">
        <%= yield :sidebar %>
      </div>

    </div>
  </div>

</body>
</html>
